# Ignore Python cache
__pycache__/
*.py[cod]

# Ignore local environments
.env
.venv/
env/
venv/

# Ignore output & temp files
output/
temp/

# Ignore system files
.DS_Store
Thumbs.db

# Ignore git files
.git/
.gitignore

# Ignore VS Code settings
.vscode/

# Ignore Streamlit cache
.streamlit/

# Ignore YOLO training runs and weights
runs/
*.pt

# Ignore test assets
streamlit/result_sample/
streamlit/assets/

# Ignore logs
*.log
